/** @format */

.cards {
	padding: 2rem;
	background: #fff;
}

.cards__headline {
	margin-bottom: 20px;
	font-size: 48px;
	line-height: 1.1;
	font-weight: 600;
	text-align: center;
}

.cards__container {
	flex-flow: column;
	align-items: center;
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

.cards__wrapper {
	position: relative;
	margin: 50px 0 50px;
}

.cards__items {
	margin-bottom: 1em;
}

.cards__item {
	display: flex;
	flex: 1;
	margin: 0 1.5rem;
	border-radius: 2px;
	background-color: rgb(189, 211, 98);
}

.cards__item__link {
	display: flex;
	flex-flow: column;
	width: 100%;
	border-radius: 2px;
	overflow: hidden;
	text-decoration: none;
}

.cards__item__pic-wrap {
	position: relative;
	width: 100%;
	padding-top: 87%;
	overflow: hidden;
}

.cards__item__pic-wrap::after {
	content: attr(data-category);
	position: absolute;
	bottom: 0;
	margin-left: 10px;
	padding: 3px 5px;
	max-width: calc((100%) - 60px);
	font-size: 12px;
	font-weight: 700;
	color: #fff;
	background-color: #00a1e4;
	box-sizing: border-box;
}

.cards__item__img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
	max-width: 100%;
	height: 100%;
	max-height: 100%;
	object-fit: cover;
	transition: all 0.5s linear;
}

.cards__item__img:hover {
	transform: scale(1.1);
}

.cards__item__info {
	padding: 20px 30px 30px;
}

.cards__item__text {
	color: #252e48;
	font-size: 18px;
	line-height: 24px;
}

@media only screen and (min-width: 1024px) {
	.cards__items {
		display: flex;
	}
}

@media only screen and (max-width: 1024px) {
	.cards__item {
		margin-bottom: 2rem;
	}
}
