/** @format */

.home__hero-section {
	color: #fff;
}

.home__hero-row {
	align-items: center;
}

.row {
	display: flex;
	margin-right: 15px;
	margin-left: 15px;
	flex-wrap: wrap;
	align-content: space-between;
}

.col {
	flex: 1;
	max-width: 50%;
	flex-basis: 50%;
}

.home__hero-text-wrapper {
	max-width: 100%;
	padding: 200px;
	line-height: 1.6;
	align-items: center;
}

.heading {
	margin-bottom: 20px;
	font-size: 48px;
	line-height: 1.1;
	font-weight: 600;
	color: #f7f8fa;
}

.dark {
	color: #1c2237;
}

.darkBg {
	background-color: #1c2237;
}

.home__hero-subtitle {
	max-width: 440px;
	margin-bottom: 35px;
	font-size: 18px;
	line-height: 24px;
}

.home__hero-img-wrapper {
	max-width: 555px;
}

.home__hero-img {
	max-width: 100%;
}

img {
	border: 0;
	max-width: 100%;
	vertical-align: middle;
	display: inline-block;
}

@media screen and (max-width: 991px) {
	.container {
		padding-right: 30px;
		padding-left: 30px;
	}
}

@media screen and (max-width: 768px) {
	.home__hero-text-wrapper {
		padding: 10px;
	}

	.col {
		max-width: 100%;
		flex-basis: 100%;
	}
}
