/** @format */

/* .container {
	padding-top: 10px;
} */

.home__hero-section {
	color: #fff;
}

.home__hero-row {
	align-items: center;
}

.row {
	display: flex;
	margin-right: 15px;
	margin-left: 15px;
	flex-wrap: wrap;
	align-content: space-between;
}

.col {
	flex: 1;
	max-width: 50%;
	flex-basis: 50%;
}

.home__hero-text-wrapper {
	max-width: 100%;
	font-size: 1.4em;
	font-weight: 100;
	padding-right: 250px;
	line-height: 1.6;
	align-items: center;
}

.heading {
	text-align: center;
	font-size: 48px;
	line-height: 1.1;
	font-weight: 600;
	padding: 0.5em;
}

.dark {
	color: #014421;
}

.darkBg {
	background-color: #1c2237;
}

.home__hero-subtitle {
	max-width: 100%;
	margin-bottom: 35px;
	font-size: 1.2em;
	line-height: 1.5em;
	color: #014421;
}

.home__hero-img-wrapper {
	max-width: 555px;
}

.home__hero-img {
	max-width: 120%;
}

img {
	border: 0;
	max-width: 100%;
	vertical-align: middle;
	display: inline-block;
}

@media screen and (max-width: 1024px) {
	.home__hero-text-wrapper {
		padding: 10px;
	}
}

@media screen and (max-width: 768px) {
	.home__hero-text-wrapper {
		padding: 10px;
	}
	.home__hero-img {
		max-width: 100%;
	}

	.col {
		max-width: 100%;
		flex-basis: 100%;
	}

	.home__hero-img {
		max-width: 100%;
	}
}
