/** @format */

*,
*::before,
*::after {
	box-sizing: border-box;
}

.peponi-logo {
	background: no-repeat;
	max-width: 100%;
	display: block;
}
.peponi-about {
	font-size: 1.4em;
}

.peponi-container {
	padding: 3.5em 2em;
	max-width: 1200px;
	margin: 0 auto;
	display: block;
	margin-bottom: 4em;
	line-height: 1.6;
}

.peponi-title {
	position: relative;
	text-align: center;
}

.peponi-title ::after {
	display: block;
	width: 2em;
	height: 1px;
	margin: 0.5em auto 1em;
}

.peponi-intro {
	max-width: 500px;
	margin: 0 auto;
}

@media screen and (max-width: 960px) {
	.peponi-container > h1 {
		font-size: 70px;
		margin-top: -150px;
	}
}

@media screen and (max-width: 768px) {
	.hpeponi-container > h1 {
		font-size: 50px;
		margin-top: -100px;
	}

	.peponi-container > p {
		font-size: 30px;
	}
}
